/*------------------------------------------------------------------------------------------
1. GENERAL COMPONENTS
------------------------------------------------------------------------------------------*/
@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(http://fonts.googleapis.com/css?family=Roboto:400,700);
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700);

html {display:table; width:100%;}
body { position:relative; background: #fff; font-family: 'Open Sans', sans-serif; font-size:14px;}
img {max-width:100%;}
.error {
  color:#f00;
}
/*-----------------------------------------------------------------------*/
/* HEADER - MENU BASE */
#header #menu-base {}
#header #menu-base #logo { display: block; width: 121px; height:60px; overflow: hidden; line-height: 999em; font-size: 0; content: ""; background: url(../img/common.png) no-repeat 0 0; }

#header #menu-base #top-support { }


#header .main-top-menu { background-color:#14697e; color:#fff; height:40px;}
#header .main-top-menu nav li { height:20px; padding:0; margin:0; float: left; border-right:solid 1px #00aeef;}
#header .main-top-menu nav li:hover,
#header .main-top-menu nav li.selected { background-color:none;}

#header .main-top-menu nav {
  background-color: inherit;
    border: none;
    border-radius: 0; 
}
#header .main-top-menu nav a,
#header .main-top-menu nav a:link,
#header .main-top-menu nav a:visited {
  color: #fff;
    text-transform: uppercase;
    float: left;
    display: inline-block;
    padding: 0px 15px;
  height: 40px;
    line-height: 40px;  
}
#header .main-top-menu nav li:last-child { border-right:0;}

#header .main-top-menu nav a:hover,
#header .main-top-menu nav a:active { background-color:#fff; text-decoration:none; color:#0072bb; border-top:solid 3px #ff9400;
    -webkit-transition:all ease 0.5s; 
    -moz-transition:all ease 0.5s; 
    -o-transition:all ease 0.5s; 
    transition:all ease 0.5s; 
}
#header .main-top-menu nav li.selected a { color:#0072bb; border:0; }
#header .main-top-menu nav a .icon-home:after { content:url(../img/topbar_icon_home.png); float:left; height:16px; width:16px; display:inline-block; margin-right:5px;}

#header .main-top-menu nav li:hover a,
#header .main-top-menu nav li.selected a { border-right-color:#fff;}

#header #language-options { padding-top:15px;}
#header .flag-vie:after { content:url(../img/vi_flag.gif); float:left; height:16px; width:22px; display:inline-block; margin-right:5px;}
#header .flag-eng:after { content:url(../img/en_flag.gif); float:left; height:16px; width:22px; display:inline-block; margin-right:5px;}
#header .main-top-menu .nav>li>a:hover, #header .main-top-menu .nav>li>a:focus {
  background:none;
  color:#69D0E6;
}
#header .main-top-menu .nav>li>a:hover:after, #header .main-top-menu .nav>li>a:hover:before {
  opacity:.75;
}

.text-uppercase { text-transform:uppercase; }

.account_info { height:50px; padding:15px 25px; color: #FDEDD3; background-color: #ffa024; }
.account_box { display: inline-block; padding:0px; height:50px; }
.account_box a, .account_box a:link, .account_box a:visited { color:#fff; }
.nav>li {
    height: 40px;
    line-height: 40px;
}
.navbar-nav>li>a {
  padding: 0;
    display: block;
  width: inherit;
    height: 40px;
    line-height: 40px;
}
.navbar-nav.navbar-right:last-child {
  margin-right:0 !important;
}
.navbar-right>li {
  font-size:12px;
  padding:0 10px;
  background: url(../img/line-header.png) repeat-y right top;
}
.navbar-right>li>a {
  color:#fff;
}
.navbar-right .gift {
  font-size:0;
}
.navbar-right .gift:before {
  content:'';
  width:20px;
  height:30px;
  display:block;
  margin:0 auto;
  background:url(../img/gift-head.png) no-repeat center top 10px;
}
.navbar-right .info-member, .navbar-right .login {
  position:relative;
  padding-left:27px;
}
.navbar-right .info-member:after, .navbar-right .login:after {
  position:absolute;
  top:10px;
  left:0;
  height:20px;
  width:20px;
  content:'';
  background:url(../img/info-member.png) repeat-y center center;
}
.navbar-right .info-member:after {
  background:url(../img/info-member.png) repeat-y center center;
}
.navbar-right .login:after {
  background:url(../img/login.png) repeat-y center center;
}
.navbar-nav>li>a.icon-menu {
    font-size: 0;
  position: relative;
  background:url(../img/icon/nav.png) no-repeat left center;
  width: 40px;
}
.navbar-nav>li>a.icon-menu:focus {
    background-color: inherit;
    opacity: .85;
}
.navbar-nav>li>a.icon-menu:after {
  position:absolute;
  top:0;
  right:0;
  height:40px;
  width:2px;
  content:'';
  background:url(../img/line-header.png) repeat-y left top;
}
.navbar-brand {
  padding:0 15px;
  width:200px;
  font-size:0;
  margin-left:15px;
  height:40px;
  line-height:40px;
  /*background:url(../img/logo.png) no-repeat left center;*/
  background:url(../img/globalink-ticket.png) no-repeat left center;
}
.globalink-ticket {
  background:url(../img/globalink-ticket.png) no-repeat left center;
}
.globalink-hotel {
  background:url(../img/globalink-hotel.png) no-repeat left center;
}
.globalink-visa {
  background:url(../img/globalink-visa.png) no-repeat left center;
}
.globalink-tour {
  background:url(../img/globalink-tour.png) no-repeat left center;
}
.globalink-insurance {
  background:url(../img/globalink-insurance.png) no-repeat left center;
}
.navbar-nav>li>a.icon-menu:hover, .navbar-nav>li>a.icon-menu:focus {
    background: url(../img/icon/nav.png) no-repeat left center !important;
    opacity: .75;
}
.tab-pane{padding: 5px}
.form-group{
  margin-bottom: 5px !important;
}
label{
  margin-bottom: 2px !important;  
  font-weight: normal !important;      
}
#hinh-thuc{
  margin-top: 15px;
  margin-bottom: 15px;
}
#co-ban, #ca-nhan, #lua-chon{
  margin-bottom: 15px;
}
.title {
  
  font-weight: bold !important
}
.cheap-tickets_box ul li {
    margin-bottom: 10px;
    list-style: none;
}
.sign-up-newsletter_box {
    background: #14697e;
    padding: 20px;
    margin: 30px 0;
    color: #fff;
}
.sign-up-newsletter_box .aign-up-mail {
    background: #fff;
    padding: 0 5px;
    border-radius: 7px;
    border: 3px solid #47a7bd;
    height: 55px;
    line-height: 55px;
  }
  .sign-up-newsletter_box .aign-up-mail input[type=text] {
    border: none;
    height: 40px;
    line-height: 40px;
    width: 71%;
    padding: 0;
    text-transform: uppercase;
    margin: 5px 0 0 0;
    float: left;
    color: #333;
  }
  .sign-up-newsletter_box .aign-up-mail input[type=button] {
    height: 40px;
    border: none;
    background: #d79c28;
    color: #fff;
    width: 27%;
    text-transform: uppercase;
    font-size: 14px;
    margin: 5px 0 0 0;
    float: right;
    line-height: 40px;
  }
  .sign-up-newsletter_box .aign-up-mail input[type=text]:focus {
    outline:none;
  }
  .sign-up-newsletter_box .social-network {
    font-family: 'Roboto Condensed', sans-serif;
  }
  .sign-up-newsletter_box .social-network span.txt-cong-dong {
    display: inline-block;
    float: left;
    width: 90px;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
    line-height: 55px;
  }
  .sign-up-newsletter_box .social-network ul {
    height: 55px;
    margin: 0;
    padding: 0;
    margin-left: 100px;
  }
  .sign-up-newsletter_box .social-network ul li {
    font-size: 0;
    float: left;
    margin-right: 10px;
    height: 55px;
  }
  .sign-up-newsletter_box .social-network ul li a {
    width:55px;
    height:55px;
    display:block;
  }
  .sign-up-newsletter_box .social-network ul li a.icon-fb {
    background:url(../img/icon-fb.png) no-repeat center center;
  }
  .sign-up-newsletter_box .social-network ul li a.icon-tt {
    background:url(../img/icon-tt.png) no-repeat center center;
  }
  .sign-up-newsletter_box .social-network ul li a.icon-gg {
    background:url(../img/icon-gg.png) no-repeat center center;
  }
  .sign-up-tt {
    text-transform: uppercase;
    font-size: 12px;
    font-family: 'Roboto Condensed', sans-serif;
  }
  .sign-up-tt span.txt-dang-ky-mail {
    display: block;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 7px;
  }
  .adv_box {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .adv_box div.col-md-3:last-child img {
    
margin-top: -10px;
    
max-width: inherit;
    
width: 268px;
  }
  .adv_box .adv_left_box {
    border: 1px solid #dae8f3;
    background: #f1f5f8;
    padding: 15px 10px;
    height: 361px;
    font-family: 'Roboto', sans-serif;
    text-align: left;
  }
  .adv_box .adv_left_box ul li {
    padding: 0 0 10px 40px;
    position: relative;
    color: #48a7bc;
    font-size: 11px;
    margin-bottom: 5px;
    margin-left: -40px;
    list-style: none;
  }
  .adv_box .adv_left_box ul li:before {
    content:'';
    width:34px;
    height:32px;
    position:absolute;
    top:0;
    left:0;
  }
  .adv_box .adv_left_box ul li.icon-1:before {
    background:url(../img/like.png) no-repeat top center;
  }
  .adv_box .adv_left_box ul li.icon-2:before {
    background:url(../img/gift.png) no-repeat top center;
  }
  .adv_box .adv_left_box ul li.icon-3:before {
    background:url(../img/mouse.png) no-repeat top center;
  }
  .adv_box .adv_left_box ul li.icon-4:before {
    background:url(../img/tel.png) no-repeat top center;
  }
  .adv_box .adv_left_box ul li.icon-5:before {
    background:url(../img/card.png) no-repeat top center;
  }
  
  .adv_box .adv_left_box ul li a {
    color: #14697e;
  }
  .adv_box .adv_left_box ul li a {
    color: #14697e;
  }
  .adv_box .adv_left_box ul li h6 {
    text-transform: uppercase;
    font-size: 13px;
    font-weight: bold;
    margin: 3px 0;
  }
  .adv_box img {
    max-width:100%;
  }
#co-ban{
  margin-top: 15px;
}
#crumbs ul {
list-style: none;
display: inline-table;
}
#crumbs ul li {
  display: inline;
  padding: 2px;
  padding-left: 10px;
}
.cnt-visa-passport {
  background: url(../img/visa-passport.jpg) no-repeat bottom right;
    padding-bottom: 30px;
}
.other-options h2 {
  margin: 0;
    padding: 10px 15px;
    font-size: 16px;
    text-align: left;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    background: #f1f5f8 url(../img/detail-slide.png) no-repeat right 10px center;
    text-transform: uppercase;
}
.other-options h2 a {
    color: #000;
    text-shadow: 0 1px 0 #fff;
}
.page-service-hotel{
  text-align: left;
}
.col-md-r img {
  display: block;
    margin-bottom: 30px;
  margin-top: 10px;
}
.link-service img {
    margin-bottom: 10px;
  max-width: 100%;
}
#crumbs ul li a {
  display: block;
  float: left;
  text-align: center;
  height: 40px;
  background: #008081;
  position: relative;
  margin: 0 10px 0 0; 
  padding-top: 9px;      
  font-size: 17px;
  text-decoration: none;
  color: #fff;
      width: 100%;
      padding-left: 15px
}
  #crumbs ul li a:after {
    content: "";  
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
      border-left: 20px solid #008081;
    position: absolute; right: -20px; top: 0;
    z-index: 1;
  }
  
  #crumbs ul li a:before {
    content: "";  
    border-top: 20px solid transparent;
      border-bottom: 20px solid transparent;
      border-left: 20px solid #FFF;
    position: absolute; left: 0; top: 0;
  }

    #crumbs ul li:first-child a {
      border-top-left-radius: 10px; border-bottom-left-radius: 10px;    
      padding-left: 15px;      
    }
    #crumbs ul li:first-child a:before {
      display: none; 
    }
    
    #crumbs ul li:last-child a {          
      border-top-right-radius: 10px; border-bottom-right-radius: 10px;
    }
    #crumbs ul li:last-child a:after {
      display: none; 
    }
  
  #crumbs ul li a:hover, #crumbs ul li a.active {
    background: #D79C28;
  }
    #crumbs ul li a:hover:after, #crumbs ul li a.active:after {
      border-left-color: #D79C28;
    }
.tt-module {
    border-bottom: 2px dashed #dae8f5;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;    
    margin: 10px 0 20px 0;
    padding-bottom: 15px;
    position: relative;
    font-family: 'Roboto', sans-serif;
    text-align: left;
    color: #14697e;
}
h3.tt-module:after {
    content: '';
    position: absolute;
    bottom: -16px;
    right: 0;
    width: 45px;
    height: 32px;
    background: url(../img/airline.png) no-repeat bottom right;
}
.title{
  padding-top: 5px;
}
div.title {
  margin-top: -15px !important;
}
/* --------------------------------------- */
.footer_box {
  clear: both;
  zoom: 1;
  display:block;
  font-family: 'Roboto', sans-serif;
}
.footer_box a:hover,
.footer_box a:active { text-decoration:underline !important; }
.footer_box p { line-height:1.8em; margin:0; padding:0; }
.seo_box {
  padding: 20px 0;
    border-top: 2px dashed #dae8f5;
  color: #999;
}
.seo_box strong {
  font-weight:normal;
  color:#15697f;
}
.seo_box a {
  color: #999;
}
.seo_list {
  position: relative;
  width: 1176px;
  padding: 0 0 18px 4px;
  margin: 0 auto;
  -webkit-transition: all 400ms ease-out;
  -moz-transition: all 400ms ease-out;
  -ms-transition: all 400ms ease-out;
  -o-transition: all 400ms ease-out;
  transition: all 400ms ease-out;
}
.seo_list .tit {
    margin: 0;  font-weight: bold;
  font-size: 13px;
    margin: 10px 0;
}
.seo_list p + .tit {
  padding-top: 15px;
}
.seo_box a {
  color: #666; /*text-decoration: none;*/
}

/* --------------------------------------- */
.foot_link {
  padding: 15px 0;
    border-top: 2px dashed #dae8f5;
    font-size: 12px;
}
.foot_link a{color:#666;}
.foot_link .foot_inner{
  text-shadow: 0 1px 1px #fff;
    text-align: center; 
}
.foot_link .foot_inner strong {
  color: #14697E;
}
.footer_box .seo_box h4 {
    font-size: 16px;
    color: #16687d;
    font-weight: bold;
    min-height:24px;
    line-height:24px;
    margin:0;
  }
  .footer_box .seo_box ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .footer_box .seo_box ul.about-us {
    list-style:url(../img/icon/list-ft.png);
    margin-left: 15px;
  }
  .footer_box .seo_box ul li {
    padding: 3px 0;
    color: #666;
  }
  .footer_box .seo_box ul li span {
    color:#15697f;
  }
  .footer_box .seo_box .social-network h4 {
    float: left;
      margin-right: 10px;
  }
  .footer_box .seo_box .social-network ul {
  }
  .footer_box .seo_box .social-network ul li {
    display: inline-block;
      margin-right: 7px;
    padding:0;
  }
  .footer_box .seo_box .social-network ul li .icon-fb {
    background:url(../img/icon/fb.png) no-repeat center center;
  }
  .footer_box .seo_box .social-network ul li .icon-tt {
    background:url(../img/icon/tt.png) no-repeat center center;
  }
  .footer_box .seo_box .social-network ul li .icon-gg {
    background:url(../img/icon/gg.png) no-repeat center center;
  }
  .footer_box .seo_box .social-network ul li a {
    font-size: 0;
    width: 24px;
    height: 24px;
    display: inline-block;
    margin: 0;
    padding: 0;
    float: left;
  }

.copyright { overflow:hidden;padding:15px 0 35px;text-align:center; color:#666;}
.copyright p { margin:0; padding:0; }
.copyright .language_list { padding-top:5px;}
.copyright .language_list a {color:#4b4b4b;}
.copyright .language_list .icon {margin:0 15px 0 5px; width: 19px;}
.ico_cn, .ico_en, .ico_jp, .ico_kr, .ico_fr, .ico_de, .ico_es, .ico_ru, .ico_vn, .ico_hk, .ico_tw, .ico_mac, .ico_sg, .ico_my, .ico_th, .ico_uk, .ico_sgd, .ico_idr, .ico_myr, .ico_thb {width: 19px;height: 13px;}
.ico_tw, .ico_mac, .ico_sg, .ico_my, .ico_th, .ico_uk {background:url(../img/icon_flag.png) no-repeat 0 0;}
.ico_cn {background-position:0 -64px;}
.ico_en {background-position:-32px -64px;}
.ico_jp {background-position:-64px -64px;}
.ico_kr {background-position:-96px -64px;}
.ico_fr {background-position:0 -80px;}
.ico_de {background-position:-32px -80px;}
.ico_es {background-position:-64px -80px;}
.ico_ru {background-position:-96px -80px;}
.ico_vn {background-position:0 -96px;}
.ico_hk {background-position:-32px -96px;}
.ico_mac {background-position:-20px 0;}
.ico_sg {background-position:-40px 0;}
.ico_my {background-position:-60px 0;}
.ico_th {background-position:-80px 0;}
.ico_us {background-position:-100px 0;}
.ico_uk {background-position:-120px 0;}
.ico_myr {background-position:0 -870px;}
.ico_idr {background-position:-30px -870px;}
.ico_sgd {background-position:-60px -870px;}
.ico_thb {background-position:-90px -870px;}
#cach-thuc-mua li{margin-bottom: 10px;}
#cach-thuc-mua {clear: both}
label.error{color:red; font-style: italic;}
td.value{
  font-weight: bold;
  font-size: 16px;
  text-align: right;  
}
label.errors{display:none;color:red; font-style: italic;}
label.required{color:red; font-style: italic;}
#formDK label {
  font-weight: bold !important;
}
#formDK div.form-group{
  margin-bottom: 10px !important;
}
#btnXemphi{
  background-color: #008081 !important;
  width: 175px;
}
#crumbs {
  text-transform: uppercase;
}
/*============================================================================================*/
/* 4. WIZARD 4: PAYMENT INFO */
/*============================================================================================*/

#fpayment-method {
    float: left;
    /*width: inherit;*/
    padding: 0;
}

.customer-payment p {
    font-weight: bolder;
}

.customer-payment strong {
    color: #333 !important;
    line-height: 24px;
}

#tblPaymentInfo {
    border: solid 1px #efefef;
}

    #tblPaymentInfo tr {
        border-bottom: solid 1px #efefef;
    }

        #tblPaymentInfo tr td {
            padding-top: 10px;
            padding-bottom: 10px;
            vertical-align: middle;
            padding-right: 10px;
        }

            #tblPaymentInfo tr td span strong {
                line-height: 25px;
            }

.rowpayment table tr td {
    padding-left: 20px;
    vertical-align: middle;
}

.rowpayment table tr:last-child {
    border-bottom: 0;
}

.methods-header {
    position: relative;
}

    .methods-header label {
        padding: 10px;
        padding-left: 40px;
        display: block;
    }

        .methods-header label br {
            display: none;
            visibility: hidden;
        }

    .methods-header input[type="radio"] {
        position: absolute;
        top: 15px;
        left: 15px;
    }

    .methods-header h3 {
        padding-bottom: 5px;
        font-family: 'Roboto', sans-serif;
    }

        .methods-header h3 strong {
            color: #15697f;
        }

    .methods-header label {
        color: #999;
        background: #F1F5F8;
    }

.payment h2 {
    margin: 0px;
    font-size: 14px;
    text-transform: uppercase;
}

.methods h3 {
    margin: 0px;
    text-transform: uppercase;
    font-size: 12px;
    padding-bottom: 10px;
}

.methods p {
    margin: 0px;
}

.tb_method {
    width: 100%;
}

table.payment-at-home tr {
    background: #fff;
}

    table.payment-at-home tr td {
        padding-top: 5px;
        padding-bottom: 0px;
    }

        table.payment-at-home tr td.header strong {
            display: block;
            padding-bottom: 5px;
            padding-left: 40px;
        }

        table.payment-at-home tr td input {
            width: 290px;
            padding: 3px 5px;
        }

#payment1-info, #payment2-info, #payment4-info {
    padding-left: 30px;
    padding-right: 20px;
}

#payment3-info {
    padding-left: 10px;
}

    #payment3-info tr {
        border-bottom: 0;
    }

#content_transfer {
    background: #f8ebd9;
    border: solid 1px #f3b55b;
    padding: 20px;
    margin-top: 10px;
}

#billInfo {
    color: #2d1b45;
    padding: 10px 15px;
}

#billdetail fieldset {
    border: 1px solid #dae8f4;
    padding: 10px;
    margin-top: 10px; /*width:650px !important;*/
}

    #billdetail fieldset legend {
        padding-left: 10px;
        padding-right: 10px;
        color: #15697F;
        font-size: 16px;
        font-weight: bold;
    }

#billdetail table.bill-info {
    width: 100%;
}

    #billdetail table.bill-info td {
        padding: 3px 5px;
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
    }

        #billdetail table.bill-info td input[type=text] {
            padding: 7px 5px;
            width: 93% !important;
            border: solid 1px #ccc;
            box-shadow: none;
            margin-bottom: 10px;
        }

            #billdetail table.bill-info td input[type=text]#billAddress {
                width: 98% !important;
            }

        #billdetail table.bill-info td span.flytrip-note {
            color: #f00;
        }

#booking-agreement {
}

    #booking-agreement a {
        color: #df1784;
        text-decoration: underline;
    }

#btnContinue {
    margin-bottom: 10px;
}

/*============================================================================================*/
/* 5. WIZARD 5: BOOKING CONFIRM */
/*============================================================================================*/

.confirm-payment .confirm_title,
.confirm-payment .confirm_title span {
    padding: 0;
    background: none;
    font-family: Arial;
    color: #FE5815;
    border-bottom: 0;
    font-size: 18px;
    font-weight: bold;
}

.confirm-payment a, .confirm-payment a:link, .confirm-payment a:visited {
    color: #ed1c24;
    font-size: 18px;
    font-weight: bold;
}

.confirm-panel .confirm-title {
    background: #E9E9E9;
    margin-bottom: 10px;
    padding-left: 10px;
    display: none;
    visibility: hidden;
}

    .confirm-panel .confirm-title span {
        background: none;
    }

.confirm-panel .cpl-total {
    font-size: 20px;
}

#cpl-customer-info {
    display: none;
    visibility: hidden;
}

.confirm-panel ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

    .confirm-panel ul li {
    }

        .confirm-panel ul li .cpnl-label {
            display: inline-block;
            width: 160px;
        }

            .confirm-panel ul li .cpnl-label span {
                display: inline-block;
                min-width: 30px;
            }

        .confirm-panel ul li .cpnl-value {
            font-weight: bold;
        }

            .confirm-panel ul li .cpnl-value.bookingcode {
                color: #0863bc;
                font-size: 16px;
            }

.confirm-flight-booking-info .cpnl-value.bookingcode {
    color: #0863bc;
}

.confirm-flight-booking-info .cpnl-value.bookingcode {
    color: #0863bc;
}

.confirm-panel p {
    margin: 0;
}

.cpnl-thankyou {
    color: #FE5815;
    font-size: 18px;
    padding-top: 10px;
}

.cpl-payment {
    font-size: 13px;
}

.confirm-panel h4.go-icon {
    background-position: 5px 5px;
    margin-bottom: 10px;
}

.confirm-panel h4.back-icon {
    background-position: 5px -27px;
    margin-bottom: 10px;
}

.cpl-route-info {
    font-size: 13px;
    font-weight: bold;
}

    .cpl-route-info .info {
        font-size: 14px;
    }

    .cpl-route-info.cpl-air-brand {
        float: right;
        margin-top: -31px;
        padding-right: 20px;
    }

        .cpl-route-info.cpl-air-brand .info {
            font-size: 20px;
        }

.confirm-panel.customer-payment ul li {
    font-size: 14px;
    font-weight: bold;
    color: #575468;
}

.confirm_info {
    display: inline-block;
    visibility: visible;
}

.confirm_info {
    padding: 15px;
    margin-top: 25px;
    border-top: 1px solid #E6E6E6;
    border-bottom: 1px solid #E6E6E6;
    background: #F5F5F5;
}

    .confirm_info p {
        padding: 0;
        margin: 0;
    }

    .confirm_info .hotline_confirm {
        padding: 5px 0px;
        display: inline-block;
        color: #FE5815;
        font-size: 16px;
        font-weight: bold;
    }

    .confirm_info ul {
        margin: 0px;
        padding: 0px;
        list-style: none;
    }

        .confirm_info ul li {
            margin: 4px 0px;
            padding-left: 15px;
            background: url(../images/gray-arrow.png) left center no-repeat;
        }

            .confirm_info ul li a {
                color: #333;
                text-decoration: underline;
            }

                .confirm_info ul li a:hover {
                    color: #FE5815;
                }

.confirm-panel .highlight,
.confirm-payment .highlight {
    color: #de1683;
    font-size: 14px;
    font-weight: bold;
}

.confirm-payment.lmod p {
    margin: 0;
}

.confirm-panel #btnOnlinePayment span {
    padding-left: 20px;
    padding-right: 20px;
    font-size: 16px;
    font-weight: bold;
}

.confirm-panel .confirm-flight-booking-info li {
    padding-bottom: 5px;
}

.confirm-payment .additional h4 {
    background: none;
    border-bottom: dashed 1px #959595;
    padding-left: 0px;
    margin-bottom: 15px;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: -1px;
    color: #222;
    margin-top: 15px;
}

.confirm-panel.cf.lmod ul li .cpnl-value {
    color: #15697F;
}

.font-normal {
    color: #222 !important;
}
/*============================================================================================*/
/* 2. ASIDE: TICKET SUMMARY */
/*============================================================================================*/
#sticker {
    width: 280px;
}

.stick {
    position: fixed;
    top: 0px;
}
/* back to previous stage */
.backbtn {
    width: 230px;
    display: none;
    visibility: hidden;
}

#bookingSummary {
    border-radius: 0;
}

aside {
    float: right;
    width: 240px;
    padding: 0;
}

    aside h2.title {
    }

    aside .filters {
        margin: 5px 10px;
    }

    aside h3 {
        font-size: 12px;
        margin: 10px 20px 10px 0;
    }

        aside h3 span {
            float: right;
            font-weight: normal;
        }

    aside .filter {
        width: 100%;
        background: url(../images/sliderbg.png) 50% 50% no-repeat;
        width: 206px;
        height: 51px;
        border: none;
        padding: 0 11px;
    }

    aside .slider, aside .ui-slider-range {
        background: none;
        border: none;
    }

    aside .filter .min {
        float: left;
    }

    aside .filter .max {
        float: right;
    }

    aside .filter .min,
    aside .filter .max {
        margin: 4px 0;
    }

    aside .ui-slider .ui-slider-handle {
        border: none;
        background: #15697f;
        width: 10px;
        height: 10px;
        border-radius: 6px;
        top: -4px;
        margin-left: 0;
    }

    aside .sidebar-top {
        padding: 0 10px 0 10px;
        position: relative;
        background: #fff;
        margin-bottom: 10px;
        padding-bottom: 0;
        border: 1px solid #DAE8F4;
    }

    aside .subtitle {
        padding-bottom: 3px;
        margin-top: 0;
        font-weight: bold;
        margin-left: -10px;
        font-size: 16px;
        color: #15697F;
        background: #F1F5F8;
        margin-right: -10px;
        border-bottom: 1px solid #DAE8F4;
        padding-left: 10px;
        margin-bottom: 5px;
    }

    aside .totalholder {
        padding: 0px;
        background: none;
    }

        aside .totalholder strong {
        }

    aside .totalprice {
        color: #2d1b45;
        padding: 0px;
        line-height: 25px;
        border-bottom: 0;
        background: none;
    }

        aside .totalprice > br {
            display: none;
            visibility: hidden;
            line-height: 0;
        }

        aside .totalprice h3 {
            border-top: none;
            padding: 10px 0 5px 0 !important;
        }

    aside .holder {
        color: #2d1b45;
    }

    aside .holder-sep {
        border-bottom: 1px dashed #DAE8F4;
        margin: 10px 0px;
    }

    aside .text {
        float: left;
    }

    aside .value {
        float: right;
    }

    aside .totaltitle {
        margin-bottom: 5px;
        font-weight: bold;
        font-size: 14px;
        text-transform: uppercase;
        color: #15697F;
        padding: 15px 0 !important;
    }

        aside .totaltitle:hover {
            color: #222;
        }

        aside .totaltitle.inactive {
            background: url(../images/totaltitlein.png) 100% 50% no-repeat;
        }

    aside .subtotal {
        text-align: left;
        border-top: 1px dashed #DAE8F4;
        margin-top: 10px;
        padding-top: 15px;
        font-weight: bold;
        padding-bottom: 10px;
    }

        aside .subtotal strong {
            font-size: 16px;
            margin-top: 0px;
            color: #333;
            text-align: right;
            display: block;
        }

    aside .totalholder strong.text-right {
        float: right;
    }

    aside .total {
        line-height: normal;
        text-align: left;
        background: #fff;
        font-size: 20px;
        font-weight: bold;
        color: #ee1b24;
        margin-left: -11px;
        margin-right: -11px;
        margin-top: 10px;
    }

        aside .total strong {
            color: #fff;
            font-size: 24px;
            font-weight: bold;
            text-align: center;
            margin-top: 5px;
        }

        aside .total .cont {
            padding: 10px 15px;
            color: #fff;
            background: #15697F;
            white-space: nowrap;
            text-align: center;
            font-size: 16px;
            font-weight: normal;
        }

.calcuprice {
}

    .calcuprice .value {
        font-weight: bold;
    }

#sm-departure1, #sm-return1, #sm-departure2, #sm-return2 {
    display: none;
    visibility: hidden;
}
